/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/.htaccess
app/config/database.php
app/controllers/.gitkeep
app/storage/
artisan
avatars/
files/
iframe.php
imdb/
mf3.php
packages/
phpunit.xml
player.bak/
player2.bak/
preview.jpg
readme.md
robots.txt
server.php
sitemaps/
stats/
