body #allplayers{
	margin: 0px;
	padding: 0px;
	color: #222222;
}
.todo {
	display:none;
	position:absolute;
	width:100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.todo.centered {
	width:60%;
	margin-left: 20%;
}
.pestanacontenedor {
	width: 130px;
	position: absolute;
	text-align: center;
	margin-right: 17px;
	right:0px;
	top: 30px;
}
.pestana {
	max-height: 36px;
	overflow: hidden;
	display: block;
	width: 90%;
	cursor: pointer;
	font-size: 20px;
	line-height: 22px;
	padding: 2px 5px 2px 16px;
	position: relative;
	margin: 3px;
	z-index: 6;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	background: transparent url("../images/li_bg2.png") top right repeat-y;
	background: -moz-linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.55) 56%, rgba(20,20,20,0.95) 89%, rgba(20,20,20,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(20,20,20,0)), color-stop(56%, rgba(20,20,20,0.55)), color-stop(89%, rgba(20,20,20,0.95)), color-stop(100%, rgba(20,20,20,1)));
	background: -webkit-linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.55) 56%, rgba(20,20,20,0.95) 89%, rgba(20,20,20,1) 100%);
	background: -o-linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.55) 56%, rgba(20,20,20,0.95) 89%, rgba(20,20,20,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.55) 56%, rgba(20,20,20,0.95) 89%, rgba(20,20,20,1) 100%);
	background: linear-gradient(90deg, rgba(20,20,20,0) 0%, rgba(20,20,20,0.55) 56%, rgba(20,20,20,0.95) 89%, rgba(20,20,20,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#141414',GradientType=1 );
	border-bottom: solid 1px rgba(200,200,200,0.1);
	text-align: right;
}
.pestana span{
	margin-right: 4px;
	display: block;
	font-family: sans-serif;
	font-size: 17px;
}
.pestana span:hover{
	 text-decoration: underline;
	 font-family: sans-serif;
	 font-size: 17px;
}
.pestana_selected{
	background: transparent url("../images/li_bg.png") top right repeat-y;
	background: -moz-linear-gradient(0deg, rgba(33,137,186,0) 0%, rgba(33,137,186,0.55) 56%, rgba(33,137,186,0.95) 89%, rgba(33,137,186,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(33,137,186,0)), color-stop(56%, rgba(33,137,186,0.55)), color-stop(89%, rgba(33,137,186,0.95)), color-stop(100%, rgba(33,137,186,1)));
	background: -webkit-linear-gradient(0deg, rgba(33,137,186,0) 0%, rgba(33,137,186,0.55) 56%, rgba(33,137,186,0.95) 89%, rgba(33,137,186,1) 100%);
	background: -o-linear-gradient(0deg, rgba(33,137,186,0) 0%, rgba(33,137,186,0.55) 56%, rgba(33,137,186,0.95) 89%, rgba(33,137,186,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(33,137,186,0) 0%, rgba(33,137,186,0.55) 56%, rgba(33,137,186,0.95) 89%, rgba(33,137,186,1) 100%);
	background: linear-gradient(90deg, rgba(33,137,186,0) 0%, rgba(33,137,186,0.55) 56%, rgba(33,137,186,0.95) 89%, rgba(33,137,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2189ba', endColorstr='#2189ba',GradientType=1 );
}
#box iframe {
	text-align: center;
	width: 100%;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	border: 0px;
}
#box #cuenta,#box #errorborrado,#box #error {
	font-size: 24px;
	color: #009AD2;
	margin-top: 120px;
	text-align: center;
}
#captchaForm,#captchaForm3 {
	text-align: center;
	margin-top: 70px;
}
#captchaResponse, #captchaImgS #recaptcha_response_field, #captchaResponse3 {
	background-color: #363636;
	margin: 10px;
	display: inline-block;
	border: 1px solid rgba(194, 194, 194, 0.36);
	padding: 4px;
	border-radius: 3px;
}
#captchaImg,#captchaImgS #recaptcha_challenge_image,#captchaImg3 {
	 margin: auto;
	 text-align: center;
	 height: auto;
	 width: auto;
	 border-radius: 3px;
}
#submitCaptcha, #submitCaptchaS, #submitCaptcha3 {
	background-color: rgba(40,40,40,0.6);
	color: #FFF;
	font-family: Ubuntu;
	border-radius: 3px;
	border: 1px solid rgba(238,238,238,0.6);
	margin-right: 5px;
	padding: 4px;
}
#formText, #formText3{
	margin: auto;
	text-align: center;
	position: relative;
	color: #ccc;
	margin-bottom: 5px;
}
#bufferingmsg{
	width:100%;
	color: #fff;
	position: absolute;
	z-index: 3;
	font-weight: 700;
	text-shadow: 0px 0px 5px #000;
	text-align: center;
	top: 50%;
	margin-top: 50px;
	height: 1px;
	overflow: visible;
}
#player_sharingp input{
	color: #000 !important;
}
body #box #player_wrapper, body #box #player{margin: auto;}

#fadingBarsG{position:relative;width:300px;height:36px;margin:auto;}
.fadingBarsG{border:solid 3px rgba(200,200,200,0.4);position:absolute;top:0;background-color:rgba(23,23,23,0.7);width:36px;height:36px;-moz-animation-name:bounce_fadingBarsG;-moz-animation-duration:.5s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-moz-transform:scale(.3);-webkit-animation-name:bounce_fadingBarsG;-webkit-animation-duration:.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-webkit-transform:scale(.3);-ms-animation-name:bounce_fadingBarsG;-ms-animation-duration:.5s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-ms-transform:scale(.3);-o-animation-name:bounce_fadingBarsG;-o-animation-duration:.5s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-o-transform:scale(.3);animation-name:bounce_fadingBarsG;animation-duration:.5s;animation-iteration-count:infinite;animation-direction:linear;transform:scale(.3)}
#fadingBarsG_1{left:0;-moz-animation-delay:.2s;-webkit-animation-delay:.2s;-ms-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s}
#fadingBarsG_2{left:38px;-moz-animation-delay:.25s;-webkit-animation-delay:.25s;-ms-animation-delay:.25s;-o-animation-delay:.25s;animation-delay:.25s}
#fadingBarsG_3{left:75px;-moz-animation-delay:.3s;-webkit-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}
#fadingBarsG_4{left:113px;-moz-animation-delay:.35s;-webkit-animation-delay:.35s;-ms-animation-delay:.35s;-o-animation-delay:.35s;animation-delay:.35s}
#fadingBarsG_5{left:150px;-moz-animation-delay:.4s;-webkit-animation-delay:.4s;-ms-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}
#fadingBarsG_6{left:188px;-moz-animation-delay:.45s;-webkit-animation-delay:.45s;-ms-animation-delay:.45s;-o-animation-delay:.45s;animation-delay:.45s}
#fadingBarsG_7{left:225px;-moz-animation-delay:.5s;-webkit-animation-delay:.5s;-ms-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s}
#fadingBarsG_8{left:263px;-moz-animation-delay:.55s;-webkit-animation-delay:.55s;-ms-animation-delay:.55s;-o-animation-delay:.55s;animation-delay:.55s}
@-moz-keyframes bounce_fadingBarsG{0%{-moz-transform:scale(1);background-color:rgba(23,23,23,0.7)}100%{-moz-transform:scale(.3);background-color:rgba(13,13,13,0.5)}}@-webkit-keyframes bounce_fadingBarsG{0%{-webkit-transform:scale(1);background-color:rgba(23,23,23,0.7)}100%{-webkit-transform:scale(.3);background-color:rgba(13,13,13,0.5)}}@-ms-keyframes bounce_fadingBarsG{0%{-ms-transform:scale(1);background-color:rgba(23,23,23,0.7)}100%{-ms-transform:scale(.3);background-color:rgba(13,13,13,0.5)}}@-o-keyframes bounce_fadingBarsG{0%{-o-transform:scale(1);background-color:rgba(23,23,23,0.7)}100%{-o-transform:scale(.3);background-color:rgba(13,13,13,0.5)}}@keyframes bounce_fadingBarsG{0%{transform:scale(1);background-color:rgba(23,23,23,0.7)}100%{transform:scale(.3);background-color:rgba(13,13,13,0.5)}}

#qualityChange{
	width:100%;
	color: #fff;
	position: absolute;
	z-index: 3;
	font-size:60px;
	font-weight: 700;
	text-shadow: 0px 0px 5px #000;
	text-align: center;
	top: 50%;
	margin-top: 80px;
}
#flash_warning{
	color: #F00;
	position: absolute;
	font-weight: 700;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	top: 50%;
	margin-top: 50px;
	text-shadow: 0px 0px 5px #000;
}
#swfAP3 > div{
	height:100%;
}
#swfAP3 img{
	opacity: 0.6;
	background-color: #000;
	cursor: pointer;
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -39px;
	margin-top: -39px;
}
#box object#player{
	height:100%
}
#applet{
	opacity: 0.3;
}

.jwplayerDialog{
	overflow-x: hidden;￼
	overflow-y: hidden;
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1041;
	background: rgba(0, 0, 0, 0.84);
}

.jwplayerDialog .boxDialog{
	position: absolute;
	width: 200px;
	margin-right: auto;
	margin-top: -55px;
	margin-left: -100px;
	height: 110px;
	top: 50% !important;
	left: 50% !important;
	background: rgba(0, 0, 0, 0.74);
	border: rgba(204, 204, 204, 0.3) solid 1px;
	padding: 8px;
	box-shadow: 0px 0px 6px 2px #fff;
}

.boxDialog #subName{
	float: left;
	padding-left:5px;
	color: #111 !important;
	height: 25px;
	width: 105px;
	font-size: 0.8em;
	border-left-width: 0px;
	border-left-style: solid;
}
.boxDialog #subCharset{
	position: absolute;
	right: 8px;
	color: #FFF !important;
	height: 25px;
	width: 70px;
	font-size: 0.8em;
	background: rgba(49, 49, 49, 0.82);
}
.boxDialog .dialogBoton{
	height: 25px;
	width: 60px;
	font-size: 0.8em;
	color: #111 !important;
	bottom: 10px;
	position: absolute;
}
.boxDialog .dialogBotonLeft{
	left: 10px;
}
.boxDialog .dialogBotonRight{
	right: 10px;
}
.boxDialog .fileInputContainer{
	position: relative;
	height: 25px;
	top: 30px;
}
.boxDialog .fileInputOver{
	position: absolute;
	top: 0px;
	left: 0px;width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background: rgba(204, 204, 204, 0.09);
	border: 1px solid rgba(207, 207, 207, 0.5);
}
.boxDialog .fileInputOver .fileInputText{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}
.boxDialog .fileInput{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	height: 100%;
	width: 100%;
	background: #ccc;
}




